{% extends 'base.html' %}

{% load static %}
{% block center %}



<body>

    <!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">

            <img src="{% static 'img/moon.webp' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

<div class="text-center m-4">
<h3 class="fw-bold">MR: O Portal Especializado em Reservas para Shows</h3>
<br><br>
<img class="rounded" src="{% static 'img/moon.webp' %}" width="400px" height="300px">

<br><br>
    <p>

        O mundo da música é repleto de momentos inesquecíveis. Cada acorde, cada nota e cada performance se 
        tornam memórias que ecoam na alma dos amantes da música. É a experiência de estar lá, no local, que 
        torna tudo ainda mais especial. O site <strong>MR</strong> entende isso como ninguém e se destaca como um 
        portal especializado em reservas para shows, proporcionando acesso a esses momentos únicos.</p>

        <br><br><br><br><br><br><br><br>


</div>

</body>

{% endblock %}